{% extends "base.html" %}

{% block body %}
{% include "title.html" with title="- CRUD" %}
<div class="container-input-rest">
    <h1 class="subtitle" style="text-align: center;">ADD DATA</h1>
    <hr class="horizontal-line">
    
    <div class="container_add_data">
        <div class="table_form_table2 form-rest add-card">
            <h2 style="text-decoration: underline;">Table 2</h2>
            <form action="{% url 'add_data' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="table2">
                <div class="form-row">
                    <label for="positive_small_int">Option:</label>
                    <select name="positive_small_int">
                        {% for value,label in table2_choices %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-actions">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

        <div class="table_form_table3 form-rest add-card">
            <h2 style="text-decoration: underline;">Table 3</h2>
            <form action="{% url 'add_data' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="table3">
                <div class="form-row">
                    <label for="duration_field">Duration :</label>
                    <input type="text" name="duration_field" placeholder="e.g., DD HH:MM:SS" required>
                </div>
                <div class="form-row">
                    <label for="email_field">Email:</label>
                    <input type="email" name="email_field" required>
                </div>
                <div class="form-actions">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>

        <div class="table_form_table1 form-rest add-card">
            <h2 style="text-decoration: underline;">Table 1</h2>
            <form action="{% url 'add_data' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="table1">

                <div class="split-form">
                    <div class="form-left">
                        <div class="form-row">
                            <label for="integer_field">Integer Field:</label>
                            <input type="number" name="integer_field">
                        </div>

                        <div class="form-row">
                            <label for="float_field">Float Field:</label>
                            <input type="number" step="any" name="float_field">
                        </div>

                        <div class="form-row">
                            <label for="char_field">Char Field:</label>
                            <input type="text" name="char_field" maxlength="15" required>
                        </div>

                        <div class="form-row">
                            <label for="text_field">Text Field:</label>
                            <textarea name="text_field"></textarea>
                        </div>

                        <div class="form-row">
                            <label for="boolean_field">Boolean Field:</label>
                            <input type="checkbox" name="boolean_field">
                        </div>

                        <div class="form-row">
                            <label for="date_field">Date Field:</label>
                            <input type="date" name="date_field" placeholder="dd-mm-yyyy" title="dd-mm-yyyy">
                        </div>

                        <div class="form-row">
                            <label for="time_field">Time Field:</label>
                            <input type="time" name="time_field" placeholder="--:--" title="--:--">
                        </div>

                        <div class="form-row">
                            <label for="datetime_field">DateTime Field:</label>
                            <input type="datetime-local" name="datetime_field">
                        </div>
                    </div>

                    <!-- Divisor -->
                    <div class="v-divider" aria-hidden="true"></div>

                    <div class="form-right">
                        <div class="form-row">
                            <label for="foreign_key">Foreign Key (Table2 ID):</label>
                            <select name="foreign_key">
                                <option value="">-- Select Table2 ID --</option>
                                {% for id in table2 %}
                                    <option value="{{ id }}">{{ id }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-row">
                            <label for="one_to_one">One to One (Table2 ID):</label>
                            <select name="one_to_one">
                                <option value="">-- Select Table2 ID --</option>
                                {% for id in table2%}
                                    <option value="{{ id }}">{{ id }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-row">
                            <label for="many_to_many">Many to Many (Table3 IDs):</label>
                            <select name="many_to_many">
                                <option value="">-- Select table3 ID --</option>
                                {% for id in table3 %}
                                    <option value="{{ id }}">{{ id }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-row">
                            <label for="image_field">Image Upload:</label>
                            <input type="file" name="image_field" accept="image/*">
                        </div>

                        <div class="form-row">
                            <label for="file_field">File Upload:</label>
                            <input type="file" name="file_field">
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}