{% extends "base.html" %}

{% block body %}
{% include "title.html" with title="- CRUD FORM" %}
<div class="container-input-rest">
  <h1 class="subtitle" style="text-align: center;">FORM</h1>
  <hr class="horizontal-line">
  <div class="form-rest">
    <form method="post" enctype="multipart/form-data">
      <h2 style="text-decoration: underline;">Form for {{ model_name }}</h2>
      {% csrf_token %}
      {% for field in form %}
        <div class="form-row">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}