{% extends "base.html" %}

{% block body %}
{% include "title.html" with title="- PROFILE" %}
    <div class="container-profile-rest">
        <h1 class="subtitle" style="text-align: center;">User Data</h1>
        <hr class="horizontal-line">

        <div class="profile-info">
            <p><strong>Username:</strong> {{ username }}</p>
            <p><strong>Email:</strong> {{ email|default:"-" }}</p>
            <p><strong>Role:</strong> {{ role }}</p>
        </div>

        {% if permissions %}
            <h2>Permissions:</h2>
            <ul>
                {% for permission in permissions %}
                    <li>{{ permission }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if role == 'Administrator' %}
            <h2>Administration Panel</h2>
            <p><a href="{% url 'user_logs' %}">User Logs</a></p>
        {% endif %}
    </div>
{% endblock %}