{% extends "base.html" %}

{% block body %}
{% include "title.html" with title="- Making Queries" %}
<div class="container-table-rest">
  <h1 class="subtitle" style="text-align: center;">{{ type }}</h1>
  <hr class="horizontal-line">
  <br>
  {% for name, desc, value in value_pairs %}
  <h2 class="subtitle">{{ name }}</h2>
  <p class="text">{{ desc }} :
  {% if value|length > 1 and value.0 is not string %}
      <div class="table-container">
        <table class="crud-table">
          <thead>
            <tr>
                <th>ID Table 1</th>
                <th>Number of related items</th>
            </tr>
          </thead>
          <tbody>
            {% for v in value %}
            <tr>
                <td>{{ v.id }}</td>
                <td>{{ v.num_table3 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  {% else %}
      <b class="text_keywords">{{ value }}</b>
  {% endif %}
  </p>
  {% endfor %}
  <br>
  <a class="back_button" href="{% url 'making_queries' %}">< Back to Query Examples</a>
</div>
{% endblock %}