{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Django QuickStart</title>
        <link href="" rel="icon">
        <meta name="viewport" content="initial-scale=1, width=device-width,shrink-to-fit=no">
    </head>
    <body>
        {% if user.is_authenticated %}
        <div>
            User: {{ user.username }} | 
            <a href="{% url 'home_layer_and_generic' %}">Home</a> |
            <form action="{% url 'logout_layer_and_generic' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none; border:none; color:blue; cursor:pointer;">Logout</button>
            </form> |
        </div>
        <hr>
        {% endif %}
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>
