/* Minimal CSS variables for dark mode */
:root {
    --back-color: #F8F8F8;
    --text-color: #181D27;
    --dark-color: #222937;
    --green-dark: #0C4B33;
    --grey: #3a3a3a;
}

[data-theme="dark"] {
    --back-color: #181D27;
    --text-color: #F8F8F8;
}

body {
    background-color: var(--back-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
/* Json */
.navbar, .nav-bar {
    color: #F8F8F8;
    background-color: var(--green-dark);
}
.navbar a{
    color: #F8F8F8;
}
.app_title {
    background-color: #181D27;
    color: #F8F8F8;
}
.dropdown-title button {
    background-color: var(--text-color);
    color: var(--back-color);
}

.dark_button {
    background-color: var(--text-color);
    color: var(--back-color);
}

hr{
    background-color: var(--text-color);
}

/* Layer and generic */

.dark-mode-toggle {
    background: none;
    font-family: 'Jersey 10', sans-serif;
    border: none;
    color:#F8F8F8;
    font-size: 1em;
    cursor: pointer;
}