{% extends "base.html" %}

{% load static %}

{% block body %}
<script src="{% static 'scripts/log.js' %}"></script>
<div class="div_login">
    <div class="login-container">
        <h1>REST</h1>
        <h2>LOG IN</h2>
        <form method="post">
            {% csrf_token %}
            
            <label for="username">Username:</label>
            <input type="text" name="username" id="id_username" required>
            
            <label for="password">Password:</label>
            <input type="password" name="password" id="id_password" required>
            
            <button type="submit">Sign in</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register_rest_basic' %}"><b>Sign up here</b></a></p>
        <p>Use test credentials - <a onclick="Test_Credential(event, 0)">Administrator</a> / <a onclick="Test_Credential(event, 1)">Customer</a></p>

        <a href="{% url 'index' %}" class="back-btn">Back to main page</a>
    </div>
</div>

{% endblock %}