{% extends "base.html" %}

{% block body %}

<div class="div_login">
    <div class="login-container">
        <h1>REST</h1>
        <h2>Sign Up</h2>
        <form method="post">
        {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <label for="password1">Password:</label>
            <input type="password" name="password1" id="password1" required>
            <label for="password2">Confirm Password:</label>
            <input type="password" name="password2" id="password2" required>
            <button type="submit">Create an account</button>
        </form>
    <p>Already have an account? <a href="{% url 'login_rest_basic' %}">Log in here</a></p>
    </div>
</div>
{% endblock %}