{% extends "LAG/base.html" %}

{% block body %}
<h1>Table1 Detail</h1>
<p>ID: {{ table1.id }}</p>
<p>Integer Field: {{ table1.integer_field }}</p>
<p>Float Field: {{ table1.float_field }}</p>

<p>Char Field: {{ table1.char_field }}</p>
<p>Text Field: {{ table1.text_field }}</p>
<p>Boolean Field: {{ table1.boolean_field }}</p>
<p>Date Field: {{ table1.date_field }}</p>
<p>Time Field: {{ table1.time_field }}</p>
<p>DateTime Field: {{ table1.datetime_field }}</p>


<p>File Field: {% if table1.file_field %}<a href="{{ table1.file_field.url }}">Download</a>{% else %}No file uploaded{% endif %}</p>
<p>Image Field: {% if table1.image_field %}<img src="{{ table1.image_field.url }}" alt="Image" style="max-width: 200px;">{% else %}No image uploaded{% endif %}</p>

<a href="{% url 'update' table1.pk %}">Edit</a> |
<a href="{% url 'delete' table1.pk %}">Delete</a> |
<a href="{% url 'list' %}">Back</a>

{% endblock %}